<!DOCTYPE html>
<html>
  <head>
    <title>Cliff's Clothes</title>
    <link rel="stylesheet" href="/static/style.css">
  </head>
  <body>
    <div class="container">
      <!-- Brand logo -->
      <img src="/static/logo.jpg" alt="Cliff's Clothes">
      <!-- Navigation bar with link to different pages -->
      <div id="myNav" class="navbar">
        <ul>
          <li><a class="navlink active" href="/gloves">Gloves</a></li>
          <li><a class="navlink" href="/facemasks">Face masks</a></li>
          <li><a class="navlink" href="/beanies">Beanies</a></li>
        </ul>
      </div>
      